.users {
    margin-top: 10%;
    padding-top: 2%;
    margin-left: 2%;
    height: 50%;
}

.align {
    display: inline-block;
    margin-left: 1%;
}

.online {
    font-size:10px;
    color:green
}

.blue {
    color: blue;
}